body {
  margin: 0;
  color: white;
  font-size: 40px;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-weight: bolder;
  border: 5px solid pink;
  padding: 12px;
  border-radius: 10px;
}
