@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  font-size: 40px;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  display: inline-block;
  font-size: 80px;
  font-family: "Arial", sans-serif;
  padding: 20px;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  animation: fadeInDownBig 1s;
}

.quotes {
  position: relative;
  font-size: 60px;
  padding: 20px;
  color: gold;
  font-weight: bolder;

  .quotesAddBtn {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  &:hover {
    .quotesAddBtn {
      display: inline-block;
    }
  }
}

.newQuotes {
  display: none;
}
.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.searchTitle {
  display: flex;
}
.search {
  padding: 20px;
  color: white;
  .searchLogo {
    width: 32px;
    height: 32px;
    margin: 10px;
    animation: spin 1s linear;
  }
}

.searchInput {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  width: 300px;
}

.searchButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0062cc;
}

.searchResult {
  display: none;
  color: white;
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}
.nft {
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;

  img {
    width: 256px;
    height: 256px;
  }

  .nftHover {
    position: absolute;
    display: none;
    width: 256px;
    height: 256px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    a {
      color: white;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      margin: -8px;
      border-radius: 9999px;
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    .nftHover {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.nftView {
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;
  display: none;
}

.weatherBox {
  position: fixed;
  top: 0px;
  left: 30px;

  .weatherTemp {
    position: fixed;
    top: 150px;
    left: 30px;
    color: white;
  }
}

.chatText {
  font-family: sans-serif;
}

.dogeGo {
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 0;
  right: 0;
  animation: move-up-right 5s linear;
  display: none;
}

@keyframes move-up-right {
  0% {
    bottom: 0;
    right: 0;
  }
  100% {
    bottom: 100%;
    right: 100%;
  }
}

.dogeDollar {
  display: none;
  position: fixed;
  top: 0;
  left: 20px;
  width: 540px;
  height: 228px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dogeGo2 {
  width: 150px;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  animation: move-up-left 5s linear;
  display: none;
}

@keyframes move-up-left {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}
